{% extends 'base.html.twig' %}

{% block title %}New UsersAddresses{% endblock %}

{% block body %}
    <h1>Create new UsersAddresses</h1>

    {{ include('users_addresses/_form.html.twig') }}

    <a href="{{ path('app_users_addresses_index') }}">back to list</a>
{% endblock %}
